---
layout: default
type: article
---
<article class="post-content" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <div class="post-meta">
            <time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">
                {{ page.date | date: "%B %d, %Y" }}
            </time>
            {% if page.tags %}
            <div class="tags" itemprop="keywords">
                {% for tag in page.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </header>

    <div itemprop="articleBody">
        {{ content }}
    </div>

    <footer class="post-footer">
        <a href="/" class="back-link">&larr; Back to posts</a>
    </footer>
</article>
